**/node_modules
**/.env
**/*.d.ts

# Logs
logs
*.log
yarn-debug.log*
yarn-error.log*

dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
packages/api/src/schema.types.ts
